<div class="container">

    <h1 class="text-center">Login</h1>

    <form action="/" method="post">
        <div class="mb-3">
            <label for="userEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="userEmail" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>

        <div class="mb-3">
            <label for="userPassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="userPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
    <br> <br>
    <p>Need an account? <a class="mt-3" href="/signup">Sign up here</a>.</p>
    
</div>