<div class="container">

  <h1 class="text-center">New Schedule</h1>

<br><br>

  <form action="/schedules/new" method="post">

    <div class="mb-3">
      <select class="form-select" aria-label="Default select example" name="name" id="id_user">
        <option>Select a user</option>

        {{#each users}}
        <option value={{this.firstname}},{{this.lastname}}>{{this.firstname}} {{this.lastname}}</option>
        {{/each}}
      </select>
    </div>
    <div class="row">
    <div class="mb-3">
      <select class="form-select" aria-label="Default select example" name="dayoftheweek" id="dayoftheweek">
        <p>Select the day of the week</p>  <option>Select day of the week</option>
        <option value='1'>Monday</option>
        <option value='2'>Tuesday</option>
        <option value='3'>Wednesday</option>
        <option value='4'>Thursday</option>
        <option value='5'>Friday</option>
        <option value='6'>Saturday</option>
        <option value='7'>Sunday</option>
    </select>
    </div>
    <div class="mb-3">
      <select class="form-select" aria-label="Default select example" name="start_time" id="start_time">
        <option>Start At</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>

      </select>
    </div>
    <div class="mb-3">
      <select class="form-select" aria-label="Default select example" name="end_time" id="end_time">
        <option>End At</option>
         <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
      </select>
    </div>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Send</button>
  </form>
</div>

