<div class="container">

  <h1 class="text-center">New Schedule</h1>

  <br><br>

  <form action="/schedules/new" method="post">

    <div class="mb-3">
      <select class="form-select" aria-label="Default select example" name="name" id="id_user">
        <option>Select a user</option>

        {{#each users}}
        <option value={{this.firstname}},{{this.lastname}}>{{this.firstname}} {{this.lastname}}</option>
        {{/each}}
      </select>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="exampleInputEmail1">Select a day</label>
        <input type="date" [(ngModel)]="dayoftheweek" name="dayoftheweek" class="form-control" placeholder=""
          aria-label="Recipient's username" aria-describedby="basic-addon2">
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="start_time" id="start_time">
          <option>Start At</option>
          <option value="01:00 am">01:00 am</option>
          <option value="02:00 am">02:00 am</option>
          <option value="03:00 am">03:00 am</option>
          <option value="04:00 am">04:00 am</option>
          <option value="05:00 am">05:00 am</option>
          <option value="06:00 am">06:00 am</option>
          <option value="07:00 am">07:00 am</option>
          <option value="08:00 am">08:00 am</option>
          <option value="09:00 am">09:00 am</option>
          <option value="10:00 am">10:00 am</option>
          <option value="11:00 am">11:00 am</option>
          <option value="12 o'clock">12 o'clock</option>
          <option value="01:00 pm">01:00 pm</option>
          <option value="02:00 pm">02:00 pm</option>
          <option value="03:00 pm">03:00 pm</option>
          <option value="04:00 pm">04:00 pm</option>
          <option value="05:00 pm">05:00 pm</option>
          <option value="06:00 pm">06:00 pm</option>
          <option value="07:00 pm">07:00 pm</option>
          <option value="08:00 pm">08:00 pm</option>
          <option value="09:00 pm">09:00 pm</option>
          <option value="10:00 pm">10:00 pm</option>
          <option value="11:00 pm">11:00 pm</option>
          <option value="00:00">00 o'clock </option>
         
        </select>
      </div>
      <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="end_time" id="end_time">
          <option>End At</option>
         <option value="01:00 am">01:00 am</option>
          <option value="02:00 am">02:00 am</option>
          <option value="03:00 am">03:00 am</option>
          <option value="04:00 am">04:00 am</option>
          <option value="05:00 am">05:00 am</option>
          <option value="06:00 am">06:00 am</option>
          <option value="07:00 am">07:00 am</option>
          <option value="08:00 am">08:00 am</option>
          <option value="09:00 am">09:00 am</option>
          <option value="10:00 am">10:00 am</option>
          <option value="11:00 am">11:00 am</option>
          <option value="12 o'clock">12 o'clock</option>
          <option value="01:00 pm">01:00 pm</option>
          <option value="02:00 pm">02:00 pm</option>
          <option value="03:00 pm">03:00 pm</option>
          <option value="04:00 pm">04:00 pm</option>
          <option value="05:00 pm">05:00 pm</option>
          <option value="06:00 pm">06:00 pm</option>
          <option value="07:00 pm">07:00 pm</option>
          <option value="08:00 pm">08:00 pm</option>
          <option value="09:00 pm">09:00 pm</option>
          <option value="10:00 pm">10:00 pm</option>
          <option value="11:00 pm">11:00 pm</option>
          <option value="00:00">00 o'clock </option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Send</button>
  </form>
</div>